@tailwind base;

@tailwind components;

@font-face {
  font-family: 'shingo-debold';
  src: url('../fonts/AOTFShinGoProDeBold.otf');
}
@font-face {
  font-family: 'shingo-heavy';
  src: url('../fonts/AOTFShinGoProHeavy.otf');
}
@font-face {
  font-family: 'shingo-bold';
  src: url('../fonts/AOTFShinGoProBold.otf');
}
@font-face {
  font-family: 'shingo-exlight';
  src: url('../fonts/AOTFShinGoProExLight.otf');
}
@font-face {
  font-family: 'shingo-light';
  src: url('../fonts/AOTFShinGoProLight.otf');
}
@font-face {
  font-family: 'shingo-medium';
  src: url('../fonts/AOTFShinGoProMedium.otf');
}
@font-face {
  font-family: 'shingo-regular';
  src: url('../fonts/AOTFShinGoProRegular.otf');
}
@font-face {
  font-family: 'myriadpro-bold';
  src: url('../fonts/MYRIADPRO-BOLD.otf');
}
@font-face {
  font-family: 'genjyuu-bold';
  src: url('../fonts/Gen Jyuu Gothic Monospace Bold.ttf');
}

@tailwind utilities;

.l-hero {
  background-image: url(../images/hero-bg.png);
  @apply bg-cover;
  padding: 3.1vw 9.1vw 3.2vw 9.1vw;
}

.hero-sm-ttl {
  @apply flex justify-between items-center font-shingo-heavy;
  background-size: 100% 100%;
  background-image: url(../images/hero-sm-ttl-bg.png);
  width: 50.37vw;
  height: 3.18vw;
  padding: 0 1.4vw;
}

.truck div {
  width: 2.35vw;
}
.truck p {
  font-size: 1.33vw;
}
.telephone div {
  width: 1.63vw;
}
.telephone p {
  font-size: 1.33vw;
}

.hero-text-1 span {
  @apply text-grey;
  font-size: 6.67vw;
}

.hero-text-0 {
  font-size: 3.48vw;
}

.hero-text-1 {
  font-size: 8.88vw;
  margin-top: -2vw;
}

.hero-text-2 {
  font-size: 5.9vw;
  margin-top: -3vw;
}

.text-shadow {
  @apply relative;
  --stroke-color: white;
  --stroke-width: 6px;
  --stroke-black: 4px;
  --stroke-color01: black;
}
.text-shadow::after {
    content: attr(data-text);
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    text-shadow: calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0 var(--stroke-color), calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0 var(--stroke-color), calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0 var(--stroke-color), calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0 var(--stroke-color), calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0 var(--stroke-color), calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0 var(--stroke-color), calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0 var(--stroke-color), calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0 var(--stroke-color), calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0 var(--stroke-color), calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0 var(--stroke-color), calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0 var(--stroke-color), calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0 var(--stroke-color), calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0 var(--stroke-color), calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0 var(--stroke-color), calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0 var(--stroke-color), calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0 var(--stroke-color), 0 var(--stroke-black) 6px var(--stroke-color01);
}

.hero-btn {
  @apply flex justify-center items-center pb-1;
  background-size: 100% 100%;
  height: 5.48vw;
}

.hero-btn:first-child {
  width: 18.8vw;
  background-image: url(../images/hero-btn-bg-1.png);
}

.hero-btn:nth-child(2) {
  width: 19.5vw;
  background-image: url(../images/hero-btn-bg-2.png);
}

.hero-btn:last-child {
  width: 21.7vw;
  background-image: url(../images/hero-btn-bg-3.png);
}

.hero-btn-group {
  font-size: 1.85vw;
}
  
.hero-btn span {
  font-size: 2.9vw;
}

.hero-img {
  width: 34.8vw;
}


@media (max-width: 639px) {

  .l-hero {
    background-image: url(../images/hero-bg-sp.png);
    padding: 3.9vw 3.125vw 4vw 3.125vw;
  }
  
  .hero-sm-ttl {
    @apply block;
    background-image: unset;
    width: unset;
    height: unset;
    padding: 0;
  }
  
  .truck {
    background-color: #3474dd;
    border-radius: 50px;
    padding: .7vw 0 1.4vw 0;
  }

  .truck div {
    width: 5.63vw;
    padding-bottom: 0.2vw;
  }

  .truck p {
    font-size: 3.9vw;
  }

  .telephone {
    background-color: #0b35c0;
    padding: .6vw 6vw 1.3vw 6vw;
    border-radius: 50px;
    margin-top: 1vw;
  }

  .telephone div {
    width: 4.7vw;
  }

  .telephone p {
    font-size: 4.37vw;
  }
    
  .hero-text-0 {
    font-size: 5.47vw;
    margin-top: 2vw;
  }
  
  .hero-text-1 {
    font-size: 15.6vw;
    margin-top: -4vw;
  }

  .hero-text-1 span {
    font-size: 10vw;
  }
  
  .hero-text-2 {
    font-size: 9.5vw;
    margin-top: -3vw;
  }
  
  .text-shadow {
    --stroke-width: 4px;
    --stroke-black: 3px;
  }
  
  .hero-btn {
    width: 48.8vw!important;
    height: 12.9vw;
  }

  .hero-btn-group {
    font-size: 5vw;
  }
    
  .hero-btn span {
    font-size: 7.5vw;
  }

  .hero-btn:last-child {
    font-size: 4.3vw;
  }

  .hero-btn:last-child span {
    font-size: 5.6vw!important;
  }
  
  .hero-img {
    width: 53.6vw;
  }
  
}

.content {
  max-width: 1170px;
}

.l-main {
  width: 900px;
}

/* aside begin */

.l-aside {
  width: 240px;
}

.payment {
  border-top-color: #7991e0;
}

.payment h1 {
  font-size: 18px;
}

.payment p {
  color: #002088;
  font-size: 18px;
  line-height: 25px;
}

.period {
  background-image: url(../images/period-bg.png);
  background-size: 100% 100%;
  height: 231px;
}

.period h3 {
  font-size: 64px;
  color: #d80100;
  line-height: 1;
}

.period h3 span {
  font-size: 45px;
}

.period h4 {
  font-size: 37px;
  color: #d80100;
  line-height: 1;
}

.period h5 span {
  font-size: 15px;
  color: #008900;
  line-height: 1;
  --stroke-width: 2px!important;
  --stroke-black: 1px!important;
}

.p-contact p {
  font-family: 'Yu Gothic';
  font-size: 15px;
  line-height: 20px;
}

/* aside end */


